.navigation ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation ul li {
    color: #fff;
    padding: 0.5rem;
    font-size: 1.3em;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.75rem;
}

.nav-link:hover {
    background: #ff9800;
    border-radius: 5px;
}